# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/
*.whl
pip-wheel-metadata/
MANIFEST

# Virtual envs
.venv/
venv/
env/
ENV/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.cover

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
.DS_Store
desktop.ini

# Projeto
*.json.bak
*.xlsx
*.pdf
